body{
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}
.avatar {
width: 150px;
height: 160px;
border-radius: 10px 20px;
}
.card{
    text-align: center;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-color: #e9f8dd;
    color: pink;
    border-bottom: 6px solid #feebce;
    border-right: 5PX solid #feebce;
    border-radius: 15px 30px;
    text-shadow: 2px 0;  
}
h3:hover, p:hover, h4:hover {
background-color: lightblue;
}
@keyframes{
    from{background-color: #e9f8dd;}
    to {background-color: tomato;}
}
